
img {
    transition: transform 0.2s ease-in-out;
}

body {
    margin: 0;
    font-family: 'Dongle', sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit
}

/* Cài đặt mặc định cho tất cả các phần tử */
*, *:after, *:before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

img {
    transition: transform 0.2s ease-in-out;
}

a {
    color: inherit;
    text-decoration: inherit;
}

/* Các lớp CSS khác */
.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.size
{
    margin-left: -10px;
   width: 150px;
}

button {
    margin: 5px;
    margin-top: 20px;
    border: none;
    width: 100px;
    height: 40px;
    color: #FFF;
    cursor: pointer;
    font-family: 'Dongle', sans-serif;
    font-weight: 500px;
    font-size: 20px;
    position: relative;
    z-index: 0;
    border-radius: 12px;
  }
  button::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #2464C7;
    background-color: #021D42;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  .gradient::before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff4141, #ff9743, #ffd500, #00ff77,
      #00d8fe, #537895, #FF00C8, #ff4141
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
  }
  
  @keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
  }
  
  .gradient:hover::before {
    opacity: 1;
  }

.icon {
    display: flex;
    gap: 6px;
    align-items: center;
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.-left-10 {
    left: -2.5rem
}

.-top-\[22em\] {
    top: -22em
}

.bottom-0 {
    bottom: 0
}

.right-0 {
    right: 0
}

.top-1\/3 {
    top: 33.333333%
}

.-z-10 {
    z-index: -10
}

.-z-\[1\] {
    z-index: -1
}

.z-auto {
    z-index: auto
}

.m-4 {
    margin: 1rem
}

.m-auto {
    margin: auto
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto
}

.mb-4 {
    margin-bottom: 1rem
}

.mb-6 {
    margin-bottom: -5px
}

.ml-8 {
    margin-left: 2rem
}

.ml-auto {
    margin-left: auto
}

.mr-2 {
    margin-right: .5rem
}

.mr-4 {
    margin-right: 1rem
}


.block {
    display: block
}

.inline-block {
    display: inline-block
}

.flex {
    display: flex
}

.grid {
    display: grid
}

.hidden {
    display: none
}

.h-80 {
    height: 20rem
}

.h-\[145\%\] {
    height: 145%
}

.h-\[512px\] {
    height: 512px
}

.h-auto {
    height: auto
}

.h-full {
    height: 100%
}

.h-screen {
    height: 100vh
}

.min-h-screen {
    min-height: 100vh
}

.w-1\/2 {
    width: 50%
}

.w-12 {
    width: 3rem
}

.w-16 {
    width: 4rem
}

.w-20 {
    width: 5rem
}

.w-4 {
    width: 1rem
}

.w-52 {
    width: 13rem
}

.w-6 {
    width: 1.5rem
}

.w-64 {
    width: 16rem
}

.w-96 {
    width: 24rem
}

.w-\[120\%\] {
    width: 120%
}

.w-full {
    width: 100%
}

.h1
{
    margin-left: 34%;
    margin-top: -100px;
    text-align: center; /* Căn giữa văn bản */
    max-width: 600px; /* Tùy chọn: Giới hạn chiều rộng để văn bản tự động xuống hàng */
}

.max-w-md {
    max-width: 28rem
}

.\!cursor-not-allowed {
    cursor: not-allowed!important
}

.cursor-not-allowed {
    cursor: not-allowed
}

.cursor-pointer {
    cursor: pointer
}

.justify-center {
    justify-content: center
}

.border {
    border-width: 1px
}

.border-\[\#355168\] {
    --tw-border-opacity: 1;
    border-color: rgb(53 81 104/var(--tw-border-opacity))
}

.border-\[\#475E8299\] {
    border-color: rgb(20, 20, 20)
}

.bg-\[\#112F49\] {
    background-color: rgb(15 15 15)
}

.margin
{
    margin-top: 30%;
}

.getkey_button 
{
    margin-left: 93vh;
}

.descolor
{
    color: #c1c1c1;
}

.gradient-text {
    background: linear-gradient(to bottom, #ffffff, #e7e7e7, #000000); /* Gradient tối dần từ trên xuống */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: 2rem; /* Điều chỉnh kích thước chữ nếu cần */
}

.tagline {
    font-family: 'Dongle', sans-serif;
    font-size: 40px;
    line-height: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .15em
}

.dongle
{
    font-family: 'Dongle', sans-serif;
    font-size: 100px;
}

.dongle1
{
    font-family: 'Dongle', sans-serif;
    font-size: 30px;
}

.header
{
    height: 195px;
}

.bg-background {
    --tw-bg-opacity: 1;
    background-color: rgb(12 12 12/var(--tw-bg-opacity))
}

.bg-cover{background-size:cover}.bg-fixed{background-attachment:fixed}.\!bg-center{background-position:50%!important}.bg-center{background-position:50%}.bg-top{background-position:top}.bg-no-repeat{background-repeat:no-repeat}.p-12{padding:3rem}.p-2{padding:.5rem}.p-4{padding:1rem;margin-top: -200px;}.p-8{padding:2rem}.px-4{padding-left:1rem;padding-right:1rem}.px-5{padding-left:1.25rem;padding-right:1.25rem}.px-8{padding-left:2rem;padding-right:2rem}.py-2{padding-top:.5rem;padding-bottom:.5rem}.py-3{padding-top:.75rem;padding-bottom:.75rem}.py-6{padding-top:1.5rem;padding-bottom:1.5rem}.pb-10{padding-bottom:2.5rem}.pt-8{padding-top:2rem}.text-left{text-align:left}.text-center{text-align:center}.font-sans{font-family:ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji}.text-2xl{font-size:1.5rem;line-height:2rem}.text-6xl{font-size:3.75rem;line-height:1}.text-\[5em\]{font-size:5em}.text-lg{font-size:1.125rem;line-height:1.75rem}.text-sm{font-size:.875rem;line-height:1.25rem}.text-xl{font-size:1rem;line-height:1.75rem;margin-left: 9px;}.font-bold{font-weight:700}.font-light{font-weight:300}.font-normal{font-weight:400}.font-semibold{font-weight:600}.italic{font-style:italic}.leading-\[1\.1em\]{line-height:1.1em}.\!text-black{--tw-text-opacity:1!important;color:rgb(0 0 0/var(--tw-text-opacity))!important}.text-black{--tw-text-opacity:1;color:rgb(0 0 0/var(--tw-text-opacity))}.text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.text-gray-700{--tw-text-opacity:1;color:rgb(55 65 81/var(--tw-text-opacity))}.text-green-100{--tw-text-opacity:1;color:rgb(220 252 231/var(--tw-text-opacity))}.text-green-500{--tw-text-opacity:1;color:rgb(34 197 94/var(--tw-text-opacity))}.text-red-100{--tw-text-opacity:1;color:rgb(254 226 226/var(--tw-text-opacity))}.text-red-500{--tw-text-opacity:1;color:rgb(239 68 68/var(--tw-text-opacity))}.text-white{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity))}.text-white\/70{color:hsla(0,0%,100%,.7)}.opacity-50{opacity:.5}.opacity-55{opacity:.55}.opacity-60{opacity:.6}.opacity-70{opacity:.7}.opacity-75{opacity:.75}.shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.blur-xl{--tw-blur:blur(24px)}.blur-xl,.brightness-75{filter:var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)}.brightness-75{--tw-brightness:brightness(.75)}.drop-shadow-lg{--tw-drop-shadow:drop-shadow(0 10px 8px rgba(0,0,0,.1)) drop-shadow(0 4px 3px rgba(0,0,0,.1));filter:var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)}.backdrop-blur{--tw-backdrop-blur:blur(8px)}.backdrop-blur,.backdrop-blur-lg{-webkit-backdrop-filter:var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);backdrop-filter:var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)}.backdrop-blur-lg{--tw-backdrop-blur:blur(16px)}.transition{transition-property:color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;transition-timing-function:cubic-bezier(.4,0,.2,1);transition-duration:.15s}.transition-colors{transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1);transition-duration:.15s}.delay-150{transition-delay:.15s}.duration-150{transition-duration:.15s}.duration-300{transition-duration:.3s}.ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@font-face{font-family:Zona Pro;src:url(/fonts/ZonaPro-Regular.woff2) format("woff2"),url(/fonts/ZonaPro-Regular.woff) format("woff");font-weight:400;font-style:normal;font-display:swap}body{font-family:Zona Pro,sans-serif!important}.glow-blue-text{text-shadow:0 0 3px #0092ff,0 0 4px #0092ff,0 0 10px #0092ff,0 0 1px #1e90ff,0 0 0 #1e90ff,0 0 10px #1e90ff,0 0 0 #1e90ff,0 0 0 #1e90ff}.button-main{text-align:center;padding:1.2rem;stroke:#fff;font-weight:600;border-radius:1rem;border-width:2px;width:35%;-webkit-user-select:none;-moz-user-select:none;user-select:none;cursor:pointer}.icon{display:flex;gap:6px;align-items:center}.icon span{font-weight:thin;font-size:1.3em;letter-spacing:-.05em!important}.background{background:linear-gradient(0deg,#5c258d,#4389a2);position:relative;width:100%;height:100%;overflow:hidden}.navbar a{color:#c9c9c9;cursor:pointer;transition:color .3s ease-in-out}.navbar a.active,.navbar a:not(.active):hover{color:#fff}.overlay:after{content:"";position:absolute;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,.3);z-index:1}.hover\:bg-black\/80:hover{background-color:rgba(0,0,0,.8)}.hover\:bg-blue-600:hover{--tw-bg-opacity:1;background-color:rgb(37 99 235/var(--tw-bg-opacity))}.hover\:brightness-125:hover{--tw-brightness:brightness(1.25);filter:var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)}@media (min-width:768px){.md\:flex{display:flex}.md\:px-0{padding-left:0;padding-right:0}}@media (min-width:1024px){.lg\:flex{display:flex}.lg\:grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr))}}@media (min-width:1280px){.xl\:mt-\[30\%\]{margin-top:30%}.xl\:flex{display:flex}.xl\:w-1\/2{width:50%}.xl\:w-\[15\%\]{width:15%}.xl\:justify-start{justify-content:flex-start}.xl\:text-left{text-align:left}.xl\:text-\[7em\]{font-size:7em}}